
### alpine-fan-control
#GIT_FEED _alpine_fan_control=https://github.com/openwrt-xiaomi/openwrt-alpine-fan-control.git
CONFIG_FEED__alpine_fan_control=m

### qBittorrent
##GIT_FEED _qBittorrent=https://github.com/openwrt-xiaomi/qBittorrent-openwrt-package.git^887ebfb9f255f78926cc6c643580f897803619f3
#CONFIG_FEED__qBittorrent=m

### luci-app-temp-status
#GIT_PACKAGE luci-app-temp-status=https://github.com/openwrt-xiaomi/luci-app-temp-status.git master

### luci-app-disks-info
#GIT_PACKAGE luci-app-disks-info=https://github.com/openwrt-xiaomi/luci-app-disks-info.git master

### luci-app-diskman
#GIT_PACKAGE luci-app-diskman=https://github.com/openwrt-xiaomi/luci-app-diskman.git master

### luci-theme-argon
#GIT_PACKAGE luci-theme-argon=https://github.com/openwrt-xiaomi/luci-theme-argon.git master

### luci-app-tn-netports
#GIT_PACKAGE luci-app-tn-netports=https://github.com/openwrt-xiaomi/luci-app-tn-netports.git master

### luci-app-timecontrol
#GIT_PACKAGE luci-app-timecontrol=https://github.com/openwrt-xiaomi/luci-app-timecontrol.git main

### qBittorrent
##GIT_PACKAGE qBittorrent=https://github.com/openwrt-xiaomi/qBittorrent-openwrt-package.git for-openwrt-21.02

