
### NSS Drivers
#GIT_FEED nss=https://github.com/openwrt-xiaomi/nss-packages.git;NSS-11.2-K5.15
CONFIG_FEED_nss=y

CONFIG_PACKAGE_MAC80211_NSS_SUPPORT=y

CONFIG_PACKAGE_kmod-qca-nss-gmac=y
CONFIG_PACKAGE_kmod-qca-nss-ecm-standard=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y

#CONFIG_PACKAGE_kmod-qca-mcs=y
#CONFIG_PACKAGE_kmod-qca-nat46=y

##CONFIG_PACKAGE_kmod-qca-nss-ecm=y
##CONFIG_PACKAGE_kmod-qca-nss-ecm-noload is not set

##CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-nss-ifb=y

#CONFIG_PACKAGE_nssinfo=y


### sqm-scripts-nss (by KONG)
#GIT_FEED sqm_scripts_nss=https://github.com/openwrt-xiaomi/sqm-scripts-nss.git
CONFIG_FEED_sqm_scripts_nss=y
CONFIG_PACKAGE_sqm-scripts-nss=y
  
