
### alpine-fan-control
#GIT_FEED _alpine_fan_control=https://github.com/openwrt-xiaomi/openwrt-alpine-fan-control.git
CONFIG_FEED__alpine_fan_control=m

### luci-app-temp-status
#GIT_PACKAGE luci-app-temp-status=https://github.com/openwrt-xiaomi/luci-app-temp-status.git master

### luci-app-disks-info
#GIT_PACKAGE luci-app-disks-info=https://github.com/openwrt-xiaomi/luci-app-disks-info.git master

### luci-app-diskman
#GIT_PACKAGE luci-app-diskman=https://github.com/openwrt-xiaomi/luci-app-diskman.git master

### luci-theme-argon
#GIT_PACKAGE luci-theme-argon=https://github.com/openwrt-xiaomi/luci-theme-argon.git v2.3.1

### luci-app-argon-config
#GIT_PACKAGE luci-app-argon-config=https://github.com/openwrt-xiaomi/luci-app-argon-config.git master

### luci-app-tn-netports
#GIT_PACKAGE luci-app-tn-netports=https://github.com/openwrt-xiaomi/luci-app-tn-netports.git master

### luci-app-timecontrol
#GIT_PACKAGE luci-app-timecontrol=https://github.com/openwrt-xiaomi/luci-app-timecontrol.git main

### luci-app-cpufreq
#GIT_PACKAGE luci-app-cpufreq=https://github.com/openwrt-xiaomi/luci-app-cpufreq.git master

### luci-app-qbittorrent
#GIT_PACKAGE luci-app-qbittorrent=https://github.com/openwrt-xiaomi/luci-app-qbittorrent.git master

### luci-app-filebrowser
#GIT_PACKAGE luci-app-filebrowser=https://github.com/openwrt-xiaomi/luci-app-filebrowser.git master

### luci-app-netspeedtest
#GIT_PACKAGE luci-app-netspeedtest=https://github.com/openwrt-xiaomi/luci-app-netspeedtest.git master
