CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_generic=y
CONFIG_TARGET_ipq806x_generic_DEVICE_xiaomi_r3d=y

#include _addons.config
#include _base.config
#include _wifi_en.config
#include _printer.config
#include _samba.config
#include _torrents.config
#include _proxy.config
#include _argon.config

### Temp and sensors
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_PACKAGE_alpine-fan-control=y
CONFIG_PACKAGE_luci-app-alpine-fan-control=y
CONFIG_PACKAGE_luci-app-temp-status=y
CONFIG_PACKAGE_luci-i18n-temp-status-ru=y

### HDD tools
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_luci-app-hd-idle=y
#CONFIG_PACKAGE_luci-i18n-hd-idle-ru=y
CONFIG_PACKAGE_luci-app-disks-info=y
#CONFIG_PACKAGE_luci-i18n-disks-info-ru=y
CONFIG_PACKAGE_luci-app-diskman=y

### Network Ports viewer
CONFIG_PACKAGE_luci-app-tn-netports=y
CONFIG_PACKAGE_luci-i18n-tn-netports-ru=y

### Network traffic
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-i18n-sqm-ru=y

### TimeControl
CONFIG_PACKAGE_luci-app-timecontrol=m

### qBittorrent
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-system=y
#CONFIG_PACKAGE_rblibtorrent=y
#CONFIG_PACKAGE_qbittorrent=y
CONFIG_PACKAGE_luci-app-qbittorrent=y

### FileBrowser
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_luci-app-filebrowser=y

### DNSMasq
CONFIG_PACKAGE_dnsmasq-full=y

### CPU Freq
CONFIG_PACKAGE_luci-app-cpufreq=y





