CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7622=y
CONFIG_TARGET_mediatek_mt7622_DEVICE_xiaomi_redmi-router-ax6s=y

#include _addons.config
#include _base.config
#include _wifi_en.config
#include _proxy.config
#include _argon.config
#include _vpn.config

### Luci dashboard
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-i18n-dashboard-ru=y

### Network Ports viewer
CONFIG_PACKAGE_luci-app-tn-netports=y
CONFIG_PACKAGE_luci-i18n-tn-netports-ru=y

### Network traffic
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-i18n-sqm-ru=y

### TimeControl
#CONFIG_PACKAGE_luci-app-timecontrol=m

### DNSMasq
CONFIG_PACKAGE_dnsmasq-full=y



